@import url(./components/nav.scss);
@import url(./components/home.scss);
@import url(./components/destination.scss);
@import url(./components/crew.scss);
@import url(./components/technology.scss);

:root {
	// primary colors
	--white: #fff;
	--grey-blue: #d0d6f9;
	--almost-black: #0b0d17;

	// colors on action
	--underline-hover: #979797;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Barlow Condensed', sans-serif;
	background-color: #0b0d17;
	color: white;
	// height: 100vh;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	// width: 100%;
}

.main-home,
.destination,
.crew,
.technology {
	position: relative;
	display: flex;
	background-position: center;
	background-size: cover;
	// flex-direction: column;
	// width: 100vw;
	height: 100vh;
}
// backgrounds
.main-home {
	background-image: url('../assets/home/background-home-desktop.jpg');
}

.destination {
	background-image: url('../assets/destination/background-destination-desktop.jpg');
}

.crew {
	background-image: url('../assets/crew/background-crew-desktop.jpg');
}

.technology {
	background-image: url('../assets/technology/background-technology-desktop.jpg');
}

.mars {
	background-image: url('../assets/destination/image-mars.png');
}

.moon {
	background-image: url('../assets/destination/image-moon.png');
}

.europa {
	background-image: url('../assets/destination/image-europa.png');
}

.titan {
	background-image: url('../assets/destination/image-titan.png');
}
// default font-size
h1 {
	font-size: 15rem;
}

h2 {
	font-size: 10rem;
}

h3 {
	font-size: 5.6rem;
}

h4 {
	font-size: 3.2rem;
}

h5 {
	font-size: 2.8rem;
}

// global styles
.pick,
.meet {
	position: relative;
	display: flex;
	justify-content: flex-start;
	// margin-top: 2em;
	// margin-left: 1em;
	letter-spacing: 0.472rem;
	text-transform: uppercase;
	font-weight: normal;
}

.number {
	margin-right: 2.8rem;
	font-weight: bold;
	color: var(--underline-hover);
}

// HOME///////////

// DESTINATION///////////////////


// CREW///////////////////////////////////////



// TECHNOLOGY/////////////////////////////



@media (max-width: 1024px) and (min-width: 768px) {
	.main-home {
		background-image: url('../assets/home/background-home-tablet.jpg');
	}

	.destination {
		background-image: url('../assets/destination/background-destination-tablet.jpg');
	}

	.crew {
		background-image: url('../assets/crew/background-crew-tablet.jpg');
	}

	.technology {
		background-image: url('../assets/technology/background-technology-tablet.jpg');
	}

	h1 {
		font-size: 15rem;
	}

	h2 {
		font-size: 10rem;
	}

	h3 {
		font-size: 5.6rem;
	}

	h4 {
		font-size: 3.2rem;
	}

	h5 {
		font-size: 2rem;
	}

	.main-home,
	.crew,
	.destination,
	.technology {
		position: relative;
		display: flex;
		// flex-direction: column;
		justify-content: center;

		// height: 100%;

		width: 100vw;
	}

	.main-home {
		.hero {
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&__text {
				text-align: center;
				margin-bottom: 158px;

				&--description {
					font-size: 1.6rem;
					line-height: 28px;
				}
			}

			&__button {
				align-self: center;
				margin-bottom: 90px;
			}
		}
	}

	// overflow: hidden;
	.planets {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		// padding-top: 1em;
		// padding-bottom: 3em;
		// height: 100%;

		.left-side {
			width: 100%;
			// padding-top: 8em;
			// flex-direction: row;
			justify-content: center;
			align-items: center;
			.pick,
			.meet {
				position: fixed;
				// dodano posf

				// zrobić porządek z paddingami itd
				// tak żeby napis był w stałym miejscu
				top: 2em;
				padding-top: 5em;
				margin-left: 6em;
			}
			&__planet-img {
				position: relative;
				display: flex;
				background-position: center;
				background-repeat: no-repeat;
				
				width: 445px;
				height: 445px;
			}
		}

		.right-side {
			// flex-direction: row;
			align-items: center;
			width: 100vw !important;
			margin-top: 64px;
			padding-left: 90px;
			padding-right: 90px;
			padding-bottom: 6em;

			.subnav {
				position: relative;

				&__nav {
					justify-content: center;
				}
			}

			&__description {
				position: relative;
				display: flex;
				text-align: center;
			}
		}
	}
}
