.crew {
	position: relative;
	display: flex;
	justify-content: flex-end;

	.members {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin: 0 auto;
		height: 100%;
		width: 100%;

		&__left {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			// margin-right: 81px;
			margin-left: 135px;

			.meet-crew {
				position: relative;
				margin-top: 212px;
				margin-bottom: 154px;
				margin-left: 5px;
			}

			&--position {
				margin-top: 69px;
				font-family: 'Bellefair', serif;
				font-weight: normal;
				text-transform: uppercase;
				color: var(--underline-hover);
				margin-left: 5px;
			}

			&--name {
				margin-top: 15px;
				font-family: 'Bellefair', serif;
				font-weight: normal;
				text-transform: uppercase;
				margin-left: 5px;
			}
			&--text {
				margin-top: 27px;
				margin-bottom: 70px;
				height: 160px;
				width: 460px;
			}
			.description {
				font-family: 'Barlow', sans-serif;
				font-weight: normal;
				font-size: 1.8rem;
				line-height: 3.2rem;
			}

			.buttons {
				display: flex;
				justify-content: space-between;
				width: 132px;
				margin-bottom: 94px;

				.memberBtn {
					width: 15px;
					height: 15px;
					padding: 0.4em;
					border-radius: 50%;
					background-color: #979797;
					cursor: pointer;
					transition: 0.3s background-color;
				}

				.memberBtn:hover {
					background-color: #d4d4d4;
				}

				.active {
					background-color: #fff;
				}
			}
		}

		&__right-img {
			position: relative;
			margin-right: 150px;
		}
	}
}

@media (max-width: 1393px) and (min-width: 1214px) {
	.crew {
		.members__left {
			margin-left: 55px;
		}

		.members__right-img {
			margin-right: 50px;
		}
	}
}

@media (max-width: 1213px) and (min-width: 1100px) {
	.crew {
		.members__left {
			margin-left: 20px;

			.meet-crew {
				margin-left: 35px;
			}
		}

		.members__right-img {
			margin-right: 20px;
		}
	}
}

@media (max-width: 1100px) and (min-width: 1024px) {
	.crew {
		.members {
			flex-direction: column;
			justify-content: center;

			&__left {
				margin: 0 auto;
				width: 100%;
				text-align: center;

				.meet-crew {
					margin-bottom: 50px;
					margin-left: 55px;
				}

				&--position {
					margin-top: 10px;
					margin-inline: 0;
					align-self: center;
				}

				&--name {
					align-self: center;
				}

				&--text {
					align-self: center;
					margin-bottom: 40px;
					width: 100%;
					padding-inline: 11.5em;
				}

				.buttons {
					align-self: center;
					margin-bottom: 40px;
				}
			}

			&__right-img {
				margin: 0 auto;
				height: 572px;
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.crew {
		.members {
			flex-direction: column;
			justify-content: center;

			&__left {
				margin: 0 auto;
				width: 100%;
				text-align: center;

				.meet-crew {
					margin-top: 138px;
					margin-bottom: 50px;
					margin-left: 39px;
				}

				&--position {
					margin-top: 10px;
					margin-inline: 0;
					align-self: center;
					font-size: 2.4rem;
				}

				&--name {
					align-self: center;
				}

				&--text {
					align-self: center;
					margin-bottom: 40px;
					width: 600px;
					padding-inline: 0.5em;
				}

				.description {
					font-size: 1.6rem;
				}

				.buttons {
					align-self: center;
					margin-bottom: 40px;

					.memberBtn {
						height: 10px;
					}
				}
			}

			&__right-img {
				margin: 0 auto;
				height: 572px;
				// width: 100%;
			}
		}
	}
}

@media (max-width: 768px) and (min-width: 375px) {
	.crew {
		.members {
			flex-direction: column-reverse;
			justify-content: center;

			&__left {
				margin: 0 auto;
				width: 100%;
				text-align: center;

				.meet-crew {
					position: fixed;
					display: inline-block;
					top: 0;
					left: 0;
					right: 0;
					margin-top: 88px;
					margin-bottom: 50px;
					margin-inline: 0;
				}

				.number {
					margin-right: 16px;
				}

				&--position {
					margin-top: 76px;
					margin-inline: 0;
					align-self: center;
					font-size: 1.6rem;
				}

				&--name {
					align-self: center;
					font-size: 2.4rem;
					font-family: 'Bellefair', serif;
					font-weight: normal;
					margin-inline: 0;
				}

				&--text {
					align-self: center;
					margin-bottom: 40px;
					width: 90%;
					padding-inline: 0.5em;
				}

				.description {
					font-size: 1.5rem;
				}

				.buttons {
					position: fixed;
					display: inline-flex;

					align-self: center;
					margin-top: 32px;
					margin-bottom: 40px;

					.memberBtn {
						height: 10px;
					}
				}

				.crew-line {
					position: absolute;
					display: inline-block;
					align-self: center;
					margin-bottom: 5em;
					width: 85%;
					height: 0.1rem;
					background-color: #383b4b;
				}
			}

			&__right-img {
				align-self: center;
				margin-top: 139px;
				margin-inline: 0;
				height: 223px;
			}
		}
	}
}
