.destination {
	position: relative;
	display: flex;
	// flex-direction: column;
	// justify-content: flex-end;
	// justify-content: center;
	width: 100%;
	// height: 100%;
	.your-destination {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.planets {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		// margin-top: 15em;
		// margin-bottom: 4em;
		width: 100%;

		.left-side {
			position: relative;
			display: flex;
			flex-direction: column;

			&__number {
				.pick {
					position: relative;
				}
			}

			&__planet {
				&--img {
					position: relative;
					display: flex;
					background-position: center;
					background-repeat: no-repeat;
					margin-left: 3em;

					// scale: 90%;

					width: 445px;
					height: 445px;
					margin-top: 97px;
				}
			}
		}

		.right-side {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			// flex-wrap: wrap;

			// padding-right: 0.5em;
			// padding-left: 15em;

			width: 50rem;

			margin-top: 12em;

			.subnav {
				position: relative;
				display: flex;

				&__nav {
					position: relative;
					display: flex;

					&--item {
						position: relative;

						margin-right: 1.5em;
						margin-bottom: 37px;
						letter-spacing: 0.27rem;
						color: white;
						text-transform: uppercase;
						background-color: transparent;
						text-decoration: none;
						padding-bottom: 18px;
						cursor: pointer;

						&::before {
							content: '';
							position: absolute;
							top: 1.8em;
							height: 3px;
							width: 100%;
							background-color: #979797;
							opacity: 0;
							transition: 0.2s all;
						}

						&:hover::before {
							opacity: 1;
						}
					}
				}
			}

			&__planet {
				position: relative;
				display: flex;
				flex-direction: column;
				height: 100%;
				&--name {
					font-family: 'Bellefair', serif;
					font-weight: normal;
					text-transform: uppercase;
				}

				&--description {
					position: relative;
					font-size: 1.8rem;
					font-family: 'Barlow', sans-serif;
					font-weight: normal;
					line-height: 3.2rem;
					letter-spacing: 0.1rem;
					padding-bottom: 5.4rem;
					margin-top: 1.4rem;
				}
			}

			.planets-line {
				position: relative;
				display: inline-block;

				width: 80%;
				height: 0.1rem;
				// margin-bottom: 2em;
				background-color: #383b4b;
			}

			.distance {
				position: relative;
				display: flex;
				justify-content: flex-start;
				padding-top: 2em;

				&__avg,
				&__time {
					position: relative;
					display: flex;
					flex-direction: column;
					gap: 1.2rem;
					// margin-top: 2.8rem;
					margin-bottom: 118px;
					width: 50%;

					&--text {
						font-size: 1.4rem;
						font-weight: normal;
						text-transform: uppercase;
						// letter-spacing: 2.36px;
						letter-spacing: 0.236rem;
					}

					&--number {
						font-family: 'Bellefair', serif;
						font-weight: normal;
						font-size: 2.8rem;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.destination {
		.planets {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			.left-side {
				width: 100%;
				padding-top: 13em;
				justify-content: center;
				align-items: center;
				&__number {
					.pick {
						position: relative;
					}
				}

				&__planet {
					&--img {
						margin-left: 0;
						width: 300px;
						height: 300px;
					}
				}
			}

			.right-side {
				align-items: center;
				width: 100vw !important;
				margin-top: 64px;
				text-align: center;

				.subnav {
					position: relative;

					&__nav {
						justify-content: center;
					}
				}

				&__planet {
					&--description {
						position: relative;
						display: flex;
						text-align: center;
						padding-left: 2em;
						padding-right: 2em;
						-webkit-line-clamp: 3; /* number of lines to show */
						line-clamp: 3;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
}
