.main-home {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.hero {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 6em;
		padding-top: 12.5em;
		margin-inline: 9em;

		&__text {
			display: flex;
			flex-direction: column;
			width: 445px;

			h1 {
				text-transform: uppercase;
				margin-bottom: 2.4rem;
				font-family: 'Bellefair', serif;
				font-weight: 150;
				color: #fff;
			}

			h5 {
				text-transform: uppercase;
				margin-bottom: 2.4rem;
				font-weight: 200;
				letter-spacing: 0.15em;
				color: var(--grey-blue);
			}

			&--description {
				font-weight: 200;
				font-family: 'Barlow', sans-serif;
				font-size: 1.8rem;
				color: var(--grey-blue);
			}
		}

		&__button {
			position: relative;
			display: flex;
			align-self: flex-end;
			max-width: 450px;

			.circle-btn {
				position: relative;
				font-family: 'Bellefair', serif;
				font-size: 3.2rem;
				letter-spacing: 0.2rem;
				text-transform: uppercase;
				background-color: #fff;
				width: 274px;
				height: 274px;
				border-radius: 50%;
				z-index: 50;
				cursor: pointer;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					height: 0;
					width: 0;
					transform: translate(-50%, -50%);
					border-radius: 50%;
					background-color: #ffffff1c;
					z-index: -100;
					transition: 0.2s ease-out;
				}

				&:hover::before {
					width: 450px;
					height: 450px;
				}

				&__text {
					font-size: 3.2rem;
					text-decoration: none;
					padding: 1em;
					color: #0B0D17;
				}
			}

			
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.main-home {
		.hero {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			&__text {
				text-align: center;
				margin-bottom: 158px;

				&--description {
					font-size: 1.6rem;
					line-height: 28px;
				}
			}

			&__button {
				align-self: center;
				margin-bottom: 90px;
				max-width: 300px;

				.circle-btn {
					width: 242px;
					height: 242px;
				}
			}
		}
	}
}

@media (max-width: 767px) and (min-width: 375px) {
	.main-home {
		overflow: hidden;

		.hero {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			margin: 0 auto;

			&__text {
				text-align: center;
				margin-bottom: 81px;
				margin-top: 73px;

				&--title {
					font-size: 8rem;
				}

				&--description {
					padding-inline: 2em;
					font-size: 1.5rem;
					line-height: 28px;
				}
			}
			&__button {
				max-width: 350px;

				.circle-btn {
					width: 150px;
					height: 150px;
					font-size: 2rem;

					&__text {
						font-size: 2rem;
					}
				}
			}

			&__button {
				align-self: center;
				margin-bottom: 90px;
			}
		}
	}
}
// dodano animację do przycisku explore oraz wstawiono hiperłącze